@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f9fafb;
  color: #111827; 
}

body {
  margin: 0;
  display: block;
  min-height: 100vh;
}

h1 {
  margin-top: 0;
}

.react-flow__node {
  transition: all 0.2s ease-in-out;
}

.react-flow__node:hover {
  color: #38bdf8 !important;
  box-shadow: 0 0 0 2px rgba(56,189,248,0.6), 0 15px 35px rgba(0,0,0,0.65) !important;
}